* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
    background: #F3F6FE;
}


.nav-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* overflow: hidden; */
    /* scrollbar-width: 0; */

}
#rect{
    height: 40px;
    width: 50%;
    /* background: #000; */
    position: fixed;
    top: 50%;
    right: 0;
    border-radius: 10px;
    transform: translateY(-50%); 
}
#rect .aro-icon{
    position: absolute;
    transform: translateY(-10%);
    right: 15%;
    /* box-shadow: 0px 10px 30px -10px rgba(46, 114, 219, 1) ; */
}
.mob-menu-wrap{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mob-menu {
    width: 50vh;
    min-height: 400px;
    height: 50vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 100vh; */
    position: relative;
    border-radius: 51%;
    transform: translateX(-90%) rotate(0deg);
    transition: all 0.3s ease;
}

.mob-menu::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 50vh;
    min-height: 400px;
    height: 50vh;
    min-width: 400px;
    background: linear-gradient(180deg, #6EA6FC 0%, #2E72DB 100%);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    outline: 18px solid #2E72DB;
}
.mob-menu-after {
    position: absolute;
    box-sizing: border-box;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mob-menu .mob-menu-item {
    list-style: none;
    position: relative;
}
.mob-menu .mob-menu-item .after{
    position: absolute;
    box-sizing: border-box;
    width: 1px;
    height: 1px;
    top: 0;
    right: 0;
    /* background-color: red; */
}

.mob-menu .mob-menu-item a {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-width: 200px;
    padding: 12px;
    /* margin-bottom: 40px; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    box-shadow: 0px 4px 34px rgba(69, 156, 236, 0.06);
}

.mob-menu .mob-menu-item.active a {
    background: linear-gradient(180deg, #58E1CA 0%, #23B39B 100%);
}

.mob-menu .mob-menu-item.active .item-text {
    color: #FFFFFF;
}

.mob-menu .mob-menu-item span {
    display: flex;
    justify-content: start;
    align-items: center;
}

.mob-menu .mob-menu-item .item-text {
    text-decoration: none;
    color: #2E72DB;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.mob-menu .mob-menu-item .item-icon-wrap {
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 7px;
    margin-right: 14px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 18px 50px -10px;
}



.mob-menu .mob-menu-item {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -33px;
    translate: -50%;
}


.mob-menu .mob-menu-item:nth-child(n) {
    /* transform: translateY(128px) rotate(-40deg); */
    /* transform: translateY(128px) rotate(calc(1 * (360 / 10))); */
        /* transform: rotate(calc(n * (360 / 12))) translate(251px); */
}

